{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://bootswatch.com/lumen/bootstrap.min.css" />
{% endblock %}

{% block javascripts %}
    {#<script src="https://fb.me/react-15.1.0.js"></script>#}
    {#<script src="https://fb.me/react-dom-15.1.0.js"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>#}

    {#<script type="text/babel">#}
        {#ReactDOM.render(#}
                {#<h1>Hello, world!</h1>,#}
                {#document.getElementById('example')#}
        {#);#}
    {#</script>#}
{% endblock %}

{% block body %}
    <nav class="navbar navbar-default navbar-static-top" style="height:75px;">
        <form class="container-fluid" style="margin-top: 17px;">
            <div class="input-group">
                <div class="input-group-addon">
                    <span>Pattern</span>
                </div>
                <input type="text" class="form-control" required placeholder="Enter a pattern to search the [current server]">
                <span class="input-group-btn">
                    <button disabled="disabled" data-ng-disabled="sniff.$invalid || working" type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span>&nbsp;<span>Search!</span>
                    </button>
                </span>
            </div>
        </form>
    </nav>

    <div class="container-fluid">
        <header class="row">
            <div class="col-lg-12">
                <div>{{ redis.online }}</div>
            </div>
        </header>

        <main class="row">
            <div class="col-lg-12">
                <ul>
                    {% for v in redis.keys %}
                        <li>{{ v }}</li>
                    {% endfor %}
                </ul>
            </div>
        </main>

        <footer class="row">
            <div class="col-lg-12">

                <fielset>
                    <legend>Add String</legend>

                    <form name="form" method="post" action="{{ path("string-add") }}">
                        <input  name="form[key]"
                               required="required" type="text">

                        <input
                               name="form[value]"
                               required="required"
                               type="text">

                        <input name="form[ttl]" required="required" type="number" />

                        <button type="submit" id="form_send" name="form[send]">Send</button>
                    </form>

                </fielset>



                <ul class="list-unstyled">


                    <li>{{ redis.info.redis_version }}</li>
                </ul>
            </div>
        </footer>
    </div>
{% endblock %}
